* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #262626;
}

.kartica {
  border-top: 5px #9349da solid;
  border-bottom: 5px #9349da solid;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 400px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}

.kartica .slika {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kartica .slika .selfie {
  padding: 5px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 3px #9c65cf solid;
}

.kartica .mojeime {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kartica .mojeime .predtekst {
  font-weight: 600;
  font-size: 1.4rem;
}

.kartica .mojeime .imeprezime {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.kartica .mojeime .imeprezime span {
  color: #8a2be2;
  font-weight: 600;
}

.kartica .kratakopis {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kartica .kratakopis .opis {
  padding: 0px 50px;
  text-align: justify;
  line-height: 1.7rem;
}

.kartica .sociallinkovi {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kartica .sociallinkovi i {
  font-size: 1.2rem;
  color: #fff;
}

.kartica .sociallinkovi .kvadratic {
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}

.kartica .sociallinkovi .kvadratic:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #8a2be2;
}

.swiper-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.swiper-slide:hover {
  cursor: all-scroll;
}

.naslovSkills {
  text-align: center;
  margin-top: 35px;
}

.skills {
  padding: 0px 30px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills .coldev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .coldev .naslovdev {
  font-size: 1.2rem;
  color: #8a2be2;
}

.skills .coldev .skill {
  margin: 10px 0px;
  border-bottom: 2px solid #262626;
}

.skills .coldesig {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .coldesig .naslovdesig {
  font-size: 1.2rem;
  color: #8a2be2;
}

.skills .coldesig .skill {
  margin: 10px 0px;
  border-bottom: 2px solid #8a2be2;
}

.pulsacija {
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: -30px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: pulsacija 3s infinite;
          animation: pulsacija 3s infinite;
  margin-left: -20px;
}

.pulsacija p {
  font-weight: 600;
}

.pulsacija i {
  padding-top: 3px;
  padding-right: 10px;
  color: #8a2be2;
}

@-webkit-keyframes pulsacija {
  0% {
    margin-left: -20px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: -20px;
  }
}

@keyframes pulsacija {
  0% {
    margin-left: -20px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: -20px;
  }
}

.myfreetime {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myfreetime .colpassion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myfreetime .colpassion .naslovpass {
  text-align: center;
}

.myfreetime .colpassion .redpassion {
  margin-left: 50px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myfreetime .colpassion .redpassion i {
  padding-right: 20px;
  font-weight: 300;
  font-size: 1.1rem;
  color: #8a2be2;
}

.myfreetime .collanguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myfreetime .collanguage .naslovlang {
  text-align: center;
}

.myfreetime .collanguage .redlang {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myfreetime .collanguage .redlang i {
  padding-right: 20px;
  font-weight: 300;
  font-size: 1.1rem;
  color: #8a2be2;
}

.myfreetime .collanguage .redlang p {
  color: #8a2be2;
  font-weight: 600;
}

.myfreetime .collanguage .redlang .nevidljiv {
  visibility: hidden !important;
}

.mywork {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f4ff;
}

.mywork .wrapper {
  position: relative;
  width: 70%;
  margin: auto;
}

.mywork .wrapper .text {
  margin-top: 80px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.mywork .wrapper .text .portfolio {
  font-size: 32px;
}

.mywork .wrapper .text .crta {
  height: 16px;
  width: 100%;
  background-color: #9c65cf;
  margin-top: -20px;
}

.mywork .red {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mywork .red .col1work {
  margin-right: 30px;
}

.mywork .red .col1work .primjerjs {
  width: 500px;
  height: 312px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
}

.mywork .red .col2work .jsopis {
  margin-top: 10px;
  max-width: 35ch;
  color: #97959c;
  margin-bottom: 10px;
}

.mywork .red .col2work .cta {
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  background-color: #9c65cf;
  color: white;
  border-radius: 5px;
}

.mywork .red .col2work .cta:hover {
  cursor: pointer;
  background-color: white;
  color: #9c65cf;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  border: 1px solid #9c65cf;
}

.mywork .red2 {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mywork .red2 .col2work .primjerjs {
  width: 500px;
  height: 312px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
}

.mywork .col1work {
  margin-right: 25px;
}

.mywork .col1work .jsopis {
  margin-top: 10px;
  max-width: 35ch;
  color: #97959c;
  margin-bottom: 10px;
}

.mywork .col1work .cta {
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  background-color: #9c65cf;
  color: white;
  border-radius: 5px;
}

.mywork .col1work .cta:hover {
  cursor: pointer;
  background-color: white;
  color: #9c65cf;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  border: 1px solid #9c65cf;
}

.mywork .red3 {
  padding-bottom: 100px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mywork .red3 .col1work {
  margin-right: 30px;
}

.mywork .red3 .col1work .primjerjs {
  width: 500px;
  height: 312px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
}

.mywork .red3 .col2work .jsopis {
  margin-top: 10px;
  max-width: 35ch;
  color: #97959c;
  margin-bottom: 10px;
}

.mywork .red3 .col2work .cta {
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  background-color: #9c65cf;
  color: white;
  border-radius: 5px;
}

.mywork .red3 .col2work .cta:hover {
  cursor: pointer;
  background-color: white;
  color: #9c65cf;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  border: 1px solid #9c65cf;
}

.contact {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: #f7f4ff;
  place-items: center;
}

.contact .top {
  position: absolute;
  top: 0;
  right: 0;
}

.contact .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact .kontaknaslov {
  font-size: 32px;
  color: black;
}

.contact .crta {
  width: 100%;
  background-color: #9c65cf;
  height: 20px;
  margin-top: -25px;
}

.contact .cta {
  margin-top: 20px;
  width: 100px;
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #9349da;
  color: white;
  font-weight: 600;
}

.contact .cta:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #9c65cf;
  color: #9c65cf;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.contact .karticakontakt {
  z-index: 10;
  position: relative;
  margin-top: -100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 800px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px;
}

.contact .karticakontakt .blob {
  position: absolute;
  top: 0;
  right: 0;
}

.contact .karticakontakt .inputi {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .karticakontakt .inputi .input {
  margin-top: 5px;
  padding: 8px 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  padding-left: 15px;
}

.contact .karticakontakt .inputi .input:focus {
  border: 1px solid #9c65cf;
}

.contact .karticakontakt .inputi label {
  margin-top: 10px;
}

.contact .karticakontakt .inputi label span {
  color: #9c65cf;
  font-weight: 600;
}

.contact .karticakontakt .inputi #textarea {
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 15px;
  padding-top: 15px;
}

.contact .karticakontakt .inputi #textarea:focus {
  border: #9c65cf 1px solid;
}

@media screen and (max-width: 768px) {
  .kartica {
    width: 350px;
    height: 600px;
  }
  .kartica .opis {
    padding: 0px 25px;
    font-size: 0.875rem;
  }
  .col1work {
    margin: 0 !important;
  }
  .primjerjs {
    width: 350px !important;
    height: 220px !important;
    margin-bottom: 25px;
  }
  .karticakontakt {
    width: 350px !important;
  }
  .karticakontakt .inputi {
    width: 85% !important;
  }
}
/*# sourceMappingURL=style.css.map */