* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #262626;
}
//NAV
.nav {
  padding-top: 25px;
  position: absolute;
  width: 100%;
  margin: auto;
  height: 8vh;
  .header {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      li {
        padding: 10px 15px;
        a {
          text-decoration: none;
          color: white;
          font-size: 1rem;
        }
        a:hover {
          border-bottom: 1px solid #8a2be2;
          transition: 0.3s all;
        }
      }
    }
    .hamburger {
      display: none;
      height: 25px;
      width: 45px;
      .line1,
      .line2,
      .line3 {
        width: 100%;
        height: 4px;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 999px;
      }
      .line1 {
        width: 90% !important;
      }
      .line2 {
        width: 70% !important;
      }
    }
  }
}
.kartica {
  border-top: 5px #9349da solid;
  border-bottom: 5px #9349da solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 400px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
  .slika {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .selfie {
      padding: 5px;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 3px #9c65cf solid;
    }
  }
  .mojeime {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .predtekst {
      font-weight: 600;

      font-size: 1.4rem;
    }
    .imeprezime {
      font-size: 1rem;
      font-weight: 400;
      color: #333;
      span {
        color: #8a2be2;
        font-weight: 600;
      }
    }
  }
  .kratakopis {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .opis {
      padding: 0px 50px;
      text-align: justify;
      line-height: 1.7rem;
    }
  }
  .sociallinkovi {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1.2rem;
      color: #fff;
    }
    .kvadratic {
      border-radius: 5px;
      width: 25px;
      height: 25px;
      background-color: #262626;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 10px;
    }
    .kvadratic:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: all 0.5s;
      background-color: #8a2be2;
    }
  }
}
.swiper-container {
  width: 100%;
  height: fit-content;
}
.swiper-slide:hover {
  cursor: all-scroll;
}
.naslovSkills {
  text-align: center;
  margin-top: 35px;
}
.skills {
  padding: 0px 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;

  .coldev {
    flex-direction: column;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .naslovdev {
      font-size: 1.2rem;
      color: #8a2be2;
    }
    .skill {
      margin: 10px 0px;
      border-bottom: 2px solid #262626;
    }
  }
  .coldesig {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .naslovdesig {
      font-size: 1.2rem;
      color: #8a2be2;
    }
    .skill {
      margin: 10px 0px;
      border-bottom: 2px solid #8a2be2;
    }
  }
}
.pulsacija {
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: -30px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 600;
  }
  i {
    padding-top: 3px;
    padding-right: 10px;
    color: #8a2be2;
  }
  animation: pulsacija 3s infinite;
  margin-left: -20px;
}

@keyframes pulsacija {
  0% {
    margin-left: -20px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: -20px;
  }
}
.myfreetime {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .colpassion {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
    .naslovpass {
      text-align: center;
    }
    .redpassion {
      margin-left: 50px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      i {
        padding-right: 20px;
        font-weight: 300;
        font-size: 1.1rem;
        color: #8a2be2;
      }
    }
  }
  .collanguage {
    display: flex;
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    .naslovlang {
      text-align: center;
    }
    .redlang {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        padding-right: 20px;
        font-weight: 300;
        font-size: 1.1rem;
        color: #8a2be2;
      }
      p {
        color: #8a2be2;
        font-weight: 600;
      }
      .nevidljiv {
        visibility: hidden !important;
      }
    }
  }
}

.mywork {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f4ff;
  .wrapper {
    position: relative;
    width: 70%;
    margin: auto;
    .text {
      margin-top: 80px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      .portfolio {
        font-size: 32px;
      }
      .crta {
        height: 16px;
        width: 100%;
        background-color: #9c65cf;
        margin-top: -20px;
      }
    }
  }
  .red {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .col1work {
      .primjerjs {
        width: 500px;
        height: 312px;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
      }
      margin-right: 30px;
    }
    .col2work {
      .jsopis {
        margin-top: 10px;
        max-width: 35ch;
        color: #97959c;
        margin-bottom: 10px;
      }
      .cta {
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        padding: 5px 15px;
        border: none;
        outline: none;
        background-color: #9c65cf;
        color: white;
        border-radius: 5px;
      }
      .cta:hover {
        cursor: pointer;
        background-color: white;
        color: #9c65cf;
        transition: ease-in-out 0.3s;
        border: 1px solid #9c65cf;
      }
    }
  }
  .red2 {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .col2work {
      .primjerjs {
        width: 500px;
        height: 312px;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
      }
    }
  }
  .col1work {
    margin-right: 25px;
    .jsopis {
      margin-top: 10px;
      max-width: 35ch;
      color: #97959c;
      margin-bottom: 10px;
    }
    .cta {
      margin-top: 10px;
      text-decoration: none;
      font-weight: 600;
      padding: 5px 15px;
      border: none;
      outline: none;
      background-color: #9c65cf;
      color: white;
      border-radius: 5px;
    }
    .cta:hover {
      cursor: pointer;
      background-color: white;
      color: #9c65cf;
      transition: ease-in-out 0.3s;
      border: 1px solid #9c65cf;
    }
  }
  .red3 {
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .col1work {
      .primjerjs {
        width: 500px;
        height: 312px;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
      }
      margin-right: 30px;
    }
    .col2work {
      .jsopis {
        margin-top: 10px;
        max-width: 35ch;
        color: #97959c;
        margin-bottom: 10px;
      }
      .cta {
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        padding: 5px 15px;
        border: none;
        outline: none;
        background-color: #9c65cf;
        color: white;
        border-radius: 5px;
      }
      .cta:hover {
        cursor: pointer;
        background-color: white;
        color: #9c65cf;
        transition: ease-in-out 0.3s;
        border: 1px solid #9c65cf;
      }
    }
  }
}
.contact {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: #f7f4ff;
  place-items: center;
  .text {
    z-index: 10;
  }
  .top {
    position: absolute;
    top: 0;
    right: 0;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .kontaknaslov {
    font-size: 32px;
    color: black;
  }
  .crta {
    width: 100%;
    background-color: #9c65cf;
    height: 20px;
    margin-top: -25px;
  }
  .cta {
    margin-top: 20px;
    width: 100px;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #9349da;
    color: white;
    font-weight: 600;
  }
  .cta:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid #9c65cf;
    color: #9c65cf;
    transition: 0.3s all;
  }
  .karticakontakt {
    z-index: 10;
    position: relative;
    margin-top: -100px;
    display: grid;
    place-items: center;
    width: 800px;
    height: 600px;
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px;
    .blob {
      position: absolute;
      top: 0;
      right: 0;
    }
    .inputi {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      .input {
        margin-top: 5px;
        padding: 8px 0px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        padding-left: 15px;
      }
      .input:focus {
        border: 1px solid #9c65cf;
      }

      label {
        margin-top: 10px;
        span {
          color: #9c65cf;
          font-weight: 600;
        }
      }
      #textarea {
        margin-top: 5px;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
        padding-left: 15px;
        padding-top: 15px;
      }
      #textarea:focus {
        border: #9c65cf 1px solid;
      }
    }
  }
}
//ZA JS PROJECTS POCETAK
.jsprojects {
  width: 100%;
  height: 100vh;
  background-color: #f7f4ff;
  display: flex;
  align-content: center;
  justify-content: center;
}
.redprojects {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .projectslika {
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    margin: 0px 20px;
  }
  .text {
    position: absolute;
    padding-top: 10px;
    margin-top: -20px;
    margin: 0 20px;
    background-color: #fff;
    top: -100px;
  }
}
//JS PROJECTS KRAJ

//FOTER POCETAK
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 20vh;
  background-color: #262626;
  .footerrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    .col3footer {
      margin: 20px 20px 0px 20px !important;
    }
    .col1footer,
    .col2footer,
    .col3footer {
      margin: 20px 50px 0px 50px;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 20px;
        color: white;
        margin-bottom: 16px;
      }
      a {
        color: hsla(0, 0%, 100%, 0.5);
        text-decoration: none;
        margin-bottom: 8px;
      }
      .col3tekst {
        max-width: 20ch;
        color: hsla(0, 0%, 100%, 0.5);
        line-height: 2rem;
      }
      .socials {
        display: flex;
        justify-content: left;
        align-items: center;
        i {
          color: white;
          margin: 10px 5px;
          font-size: 24px;
        }
        .fab:hover {
          color: #9c65cf;
          transition: 0.3s all;
          cursor: pointer;
        }
      }
      .nevidno {
        visibility: hidden;
        font-size: 18px;
      }
    }
  }
}
.afterfooter {
  width: 100%;
  min-height: 8vh;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  span {
    color: #9c65cf;
    font-weight: 600;
  }
}
//FOOTER KRAJ
@media screen and (max-width: 768px) {
  .kartica {
    width: 350px;
    height: 600px;
    .opis {
      padding: 0px 25px;
      font-size: 0.875rem;
    }
  }
  .col1work {
    margin: 0 !important;
  }
  .primjerjs {
    width: 350px !important;
    height: 220px !important;
    margin-bottom: 25px;
  }
  .karticakontakt {
    width: 350px !important;
    .inputi {
      width: 85% !important;
    }
  }
  .footerrow {
    flex-direction: column;
    padding: 40px 0px !important;
    .col1footer,
    .col2footer,
    .col3footer {
      margin: 20px 0px !important;
      justify-content: center;
      text-align: center;
      .nevidno {
        display: none;
      }
      .socials {
        justify-content: center !important;
      }
    }
  }
  .afterfooter {
    .tekstafter {
      font-size: 0.6rem;
    }
  }
  ul {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
}
